[2022-10-14 16:52] mklopets opened #1023 "Filtering for empty strings"
There's currently no way to filter based on empty strings (other than S-strings). This should work, but doesn't:

[code]

instead, it fails with:
[code]

[2022-10-14 17:17] aljazerzen commented on #1023
Yeah, that's a bug with string parsing.

[2022-10-14 17:19] #1023 closed, assigned to nobody

[2022-10-14 23:17] max-sixty opened #1030 "Update current status"
Thanks to @richb-hanover for suggesting in https://github.com/prql/prql/pull/1022#issuecomment-1279557316

I'll do this, hopefully this w/e. Won't be a big change but will keep it fresh

[2022-10-15 00:31] max-sixty opened #1031 "Handling escaped idents which contain periods"
@brunorpinho suggested we use backticks for the ClickHouse dialect (https://discord.com/channels/936728116712316989/1030229933299077180). "That'll be super easy" I said. But actually the example presents a more general issue, regardless of the the specific dialect issue.

In SQL, `"event.type"` is treated as a column name. But it's not currently possible to represent an ident containing a period i

[2022-10-15 04:29] #502 closed, assigned to nobody

[2022-10-15 04:36] max-sixty commented on #967
I'll close this for the moment, given it relies on a feature upstream. Feel free to reopen if there's something we can do from here.

To reiterate, this is not a normative statement about Oracle. And because the vast majority of PL/SQL overlaps with standard SQL, it's very possible to use PRQL with an Oracle database already.

[2022-10-15 04:36] #967 closed, assigned to nobody

[2022-10-15 04:38] max-sixty commented on #8
Thanks a lot for the well-wishes! The last nine months have flown by.

I'm cleaning up issues, so I will close this, but appreciate the sentiment and please keep in touch with the project through GH / Discord / Twitter / etc.

[2022-10-15 04:38] #8 closed, assigned to nobody

[2022-10-15 04:40] max-sixty commented on #37
These are all done! Closing

[2022-10-15 04:40] #37 closed, assigned to nobody

[2022-10-15 04:51] max-sixty commented on #22
Hi @gregsexton — I'm going over old issues, and was happy to come across this.

Interestingly, since the beginning of the year, PRQL has become even closer to GQL. For example, re:

...we changed our group-by approach from an argument — `aggregate by:country [sum salary]`, to a pipeline — `group [country] (aggregate [sum salary])`, so the `aggregate` behaves the same in or outside a `group`.

I ap

[2022-10-15 04:51] #22 closed, assigned to nobody

[2022-10-15 04:51] max-sixty commented on #219
Closed by @aljazerzen !

[2022-10-15 04:51] #219 closed, assigned to nobody

[2022-10-15 04:52] #279 closed, assigned to max-sixty

[2022-10-15 04:52] max-sixty commented on #279
Done a while back!

[2022-10-15 05:29] max-sixty commented on #694
Closed by https://github.com/prql/prql/pull/1034

[2022-10-15 05:29] #694 closed, assigned to nobody

[2022-10-15 06:45] max-sixty commented on #720
Closed by @jiripospisil!

[2022-10-15 06:45] #720 closed, assigned to nobody

[2022-10-15 06:53] max-sixty commented on #718
I appreciate the spirited discussion.

On reflection, without an alternative to `left` / `right` that has a prior track-record, it's unlikely we make a leap on this specific topic now, given our limited novelty budget and the centrality and familiarity of joins to many queries. That doesn't close off any options permanently though.

I hope that balances openness & focus appropriately.

[2022-10-15 06:53] #718 closed, assigned to nobody

[2022-10-15 15:48] snth commented on #980
I just tried to do the transfer but I got the following error:

    You don’t have the permission to create public repositories on prql

@max-sixty I thought it would send you a request to approve but from my side it appears like it's done nothing. Not sure what the next step is here.

---
Btw, I also started looking into the crates.io publishing process and it turns out there is already a `pq` cr

[2022-10-15 18:55] max-sixty commented on #980
I think you should now have permissions. Thanks for asking — as ever this is an oversight not an intentional restriction!

[2022-10-16 07:30] snth commented on #980
Thank you that worked. `prql-query` is now owned by `prql` org! 🎉

Unfortunately now I'm no longer an admin on that repo so can't set up the branch protection and Discord webhook. @max-sixty can you please make me an admin on the `prql-query` repo? 🙈

[2022-10-16 16:51] richb-hanover opened #1036 "Document Github Actions & Workflows"
I would find it helpful to have a document that describes the expected use of the Actions and Workflows in the `.github` directory. Specifically:

- Which actions/workflows should be run with each push?

- Which are only onecessary prior to a major release of some sort?

I would find this information useful so that I could enable the first kind of checks as I develop in my own private repo, prior

[2022-10-16 17:29] aljazerzen opened #1037 "Reject queries that have newer version than the compiler itself"
When the query specifies a version, but the compiler version is lower, reject the query with message:
[code]

[2022-10-16 17:32] aljazerzen commented on #1031
As mush as this is a pain in the ass, but it shows that we are not parsing idents correctly.

Correct way would be to separately parse names in idents that are separated with `.`. Subsequently, `ExprKind::Ident` should also contain namespace and varname separately.

[2022-10-16 19:51] max-sixty commented on #1031
OK — to confirm, you're OK having `sum` be parsed into `{namespace: None, varname: "sum"}`?

[2022-10-16 19:56] max-sixty commented on #980
Great!!

Done!

[2022-10-17 01:56] max-sixty commented on #1036
Great, thanks for the issue.

It's maybe too mixed in with lots of other content, or maybe not that clear per se, but WDYT about the content under Tests: https://github.com/prql/prql/blob/main/DEVELOPMENT.md#tests? Maybe we be cleared about which specific workflows run when, rather than just linking to them?

[2022-10-17 03:44] max-sixty commented on #1030
Would be closed by https://github.com/prql/prql/pull/1039

[2022-10-17 07:41] snth commented on #980
This is now live (https://crates.io/crates/prql-query) and was published by GH action in the repo so I'm closing this issue as Completed.

[2022-10-17 07:41] #980 closed, assigned to nobody

[2022-10-17 09:38] aljazerzen commented on #1031
Yeah that's ok. The resolver should figure out that `sum` varname only appears in namespace `std` and resolve to that.

[2022-10-17 12:47] richb-hanover commented on #1036
I will look at the test descriptions in DEVELOPMENT.md to see whether further action is needed. I'm going to close this and will re-open if I have something else concrete to offer. Thanks.

[2022-10-17 12:47] #1036 closed, assigned to nobody

[2022-10-18 03:36] max-sixty commented on #862
We actually don't need to use a toolchain action at all, and `dtolnay/rust-toolchain` doesn't support `rust-toolchain.toml` anyway.

[2022-10-18 03:36] #862 closed, assigned to nobody

[2022-10-18 03:41] #1030 closed, assigned to max-sixty

[2022-10-18 08:53] aljazerzen opened #1041 "Refactor semantic::resolve not to return semantic::Context"
`semantic::Context` should be used only within `semantic` module. Currently it was exposed to the outside, because of the ambition to resolve many queries one after another, using the same context. We can put this off for now and make the API for resolving simpler.

So `semantic::resolve` has to be updated, and all of its usages fixed.

[2022-10-18 09:01] aljazerzen opened #1042 "Refactor ir::ir_fold to borrow IR AST instead of taking by value"
To walk over all nodes in the AST, we use [fold pattern](https://rust-unofficial.github.io/patterns/patterns/creational/fold.html). Currently it is used in `ast::ast_fold` and `ir::ir_fold`.

The downside of this pattern is that it can either take the AST by value, as a reference or as a mutable reference. We pass AST by value in both cases, but actually, for `ir::ir_fold` it would be more conveni

[2022-10-18 09:06] aljazerzen opened #1043 "Add CLI command for printing AST without having it lowered"
We have multiple commands for the cli: `parse`, `format`, `resolve`, `compile`.

Resolve returns the IR (after lowering). For debugging purposes we would need to a command to print AST after resolving, before being lowered.

For that I suggest a new function is added alongside `semantic::resolve` named `semantic::resolve_only` that does not the the lowering. And also add a new `resolve-debug` comm

[2022-10-18 09:24] aljazerzen opened #1044 "Resolve partiton, window and sort of ast::TransformCall"
`ast::TransformCall` is just as `ast::FuncCall`, but after resolving when we have figured out that this function call works on a table.

It has a few properties that start empty:
- partition,
- window and
- sort.

Before lowering, they need to be populated. Here is a few examples of what should they contain:

[code]

[code]

[code]

This can be accomplished by creating a new struct that implements

[2022-10-18 09:37] aljazerzen opened #1045 "Add windowing params to ir::Transform and ir::ColumnDef"
Edit: I've updated to be in sync with latest changes and split this task into two parts.

`ir::Transform` should be more convenient for compiling into SQL.

## Part 1

Aggregate can be just a "command" to aggregate, without specifying columns to select. Because of that a Transform::Select must be [injected before Transform::Aggregate](https://github.com/prql/prql/blob/e4c767964972c65a3d114b5205021

[2022-10-18 09:52] aljazerzen opened #1046 "Fix column aliases"
Somewhere during resolving or lowering, column aliases get lost.

[code]
... compiles into ...
[code]
... but it should compile into ...
[code]

With `cargo run resolve _basic.prql` I confirmed that `ir::ColumnDef::name` is set to None, but to debug more #1043 would be nice to have.

With `cargo run parse _basic.prql` I've also confirmed that `ast::Expr::alias` does contain the name, so the mistak

[2022-10-18 09:54] aljazerzen commented on #1045
Edit: this comment was already done

And because this is so related - replace ColumnDef in aggregate with:

[code]

This would simplify lowering code, because aggregate can call `declare_at_column` as all other functions.

I don't remember what was the reasoning for `Aggregate` to have `ColumnDef`...

[2022-10-18 18:55] max-sixty opened #1048 "Comment out failing tests on semantic branch?"
At the moment it's difficult to merge things into semantic because tests fail

Should we comment out the failing tests and then uncomment them when we get them to pass? In pytest this would be `xfail`, but I'm not sure whether cargo has the same concept, hence the suggestion to comment out...

[2022-10-18 20:20] max-sixty opened #1049 "Is python required for `cargo build`?"
From `@solmoni` on Discord:

[code]

One advantage of a Docker build is that it would pick these up. GHA comes with python installed and so doesn't test on a fresh image. CC @richb-hanover ! & ref https://github.com/prql/prql/pull/1022

We should add to the [setup instructions](https://github.com/prql/prql/blob/main/DEVELOPMENT.md#development-environment) if we can repro this

[2022-10-18 20:57] aljazerzen commented on #1048
There is [#[ignore]](https://github.com/rust-lang/rust/blob/054b7b7/src/libcoretest/num/flt2dec/strategy/grisu.rs#L56).

I would refrain from commenting out, because the rust-analyzer cannot find references and will not refactor when renaming and such.

[2022-10-18 20:59] max-sixty commented on #1042
In an effort to ruthlessly prioritize, can we do this after the semantic merge? Lots of clones are very OK in the short term (maybe even the long term!)

[2022-10-18 21:18] max-sixty commented on #1048
Much better!

[2022-10-19 08:47] #1048 closed, assigned to nobody

[2022-10-19 08:49] aljazerzen commented on #1042
Yeah we could do it after, but it's also a good task to get familiar with our AST folding pattern.

[2022-10-19 10:38] MarinPostma commented on #1037
I can take a stab at that

[2022-10-19 16:35] max-sixty commented on #1037
Great @MarinPostma

FYI you can get the current version using https://stackoverflow.com/a/27841363

[2022-10-19 21:09] MarinPostma commented on #1037
@max-sixty It seems that the version is stored as an integer within the query. What exactly is this version number correspond to? The major version of the crate? or is language already V1 as the [documentation would suggest](https://prql-lang.org/book/queries/dialect_and_version.html?highlight=version#version)?

[2022-10-19 22:14] max-sixty commented on #1037
Ah, that's a great point.

I could imagine a couple of things we can do:

- Take the first number from the version, and use that. So the current version would be `0`. The linked example would change to `version:0`
- (would need discussion; I wouldn't implement yet) Allow for more defined versions; like `0.2.9`, and store something other than an int there (e.g. https://docs.rs/semver/latest/semver/

[2022-10-19 22:25] #1049 closed, assigned to nobody

[2022-10-20 08:24] aljazerzen commented on #1037
I'd rather use semver. If we keep it just a number we close the door on having semver.

Also, we can directly compare with cargo version, which is the only versioning chain we currently have.

[2022-10-20 08:54] MarinPostma commented on #1037
If we chose semver, we would still support `version:0`, but accept more precise version numbers as well, like `version:0.2` or `version:0.2.3`. This is backward compatible as well

[2022-10-20 09:22] snth commented on #1037
I also vote for semver so `prql-compiler` 0.2.9 would accept `version:0.2` and `version:0.2.3` but fail on `version:0.2.10` or `version:0.3`.

[2022-10-20 12:13] #1043 closed, assigned to aljazerzen

[2022-10-20 12:13] #1046 closed, assigned to nobody

[2022-10-20 14:41] max-sixty commented on #1037
OK great, sounds like the vote is carried for:

FWIW eventually I can see us also being able to compile queries for older versions, in the same way that rust editions work. For that purpose, we'd only care about the first one.

But I agree there's another case where we care about minor versions which add features, very reasonable to do it this way, in the same way that rust compiler versions work.

[2022-10-20 15:43] MarinPostma commented on #1037
No problem with implementing that

[2022-10-22 21:30] max-sixty opened #1069 "Should window default to `expanding` with a `sort`?"
Currently we default to a window clause of including the whole window — aka `rows:..`

SQL's default window definition changes depending on whether there's an `ORDER BY`, between:
- expanding — aka `rows:..0` or `expanding:true` when an `ORDER BY` exists
- or the whole window — aka `rows:..` when no `ORDER BY` exists

So we force that to be explicit. I'm not that confident we're doing the right th

[2022-10-23 02:37] max-sixty commented on #896
This actually isn't as easy as it seems — @AlexRiedler made a great observation — sometimes we need keywords unquoted.

The `as` function is a case of this — with the change I proposed above, `derive [foobar = (salary | as int)]` would compile to `"int"`, but we need `int`.

So I think this might need to be coupled with something more invasive — typing the parameter of `as` to be a keyword, which

[2022-10-23 03:19] #1041 closed, assigned to nobody

[2022-10-23 04:09] max-sixty commented on #1044
I'll take this

[2022-10-23 21:20] max-sixty commented on #1044
@aljazerzen can you confirm my understanding is correct?

Take the first case:

[code]

This has a debug output from `pbpaste | cargo run -p prql-compiler -- debug` of:

[code]

...none of them are on `window`, where I presume they'll end up in SQL, but I'm guessing that comes later in the translation process.

[2022-10-24 04:19] max-sixty commented on #1042
I was trying to do this given I wanted to do something on Onboarding — but am confused again...

Is the return type of this literal — `Result()`?
[code]

Or do you mean that as shorthand, and in the code it would `Result<&Transform>`? Because at the moment, it's doing work to make a new `Transform`, not just returning whether it was successful or not.

[2022-10-24 09:52] snth commented on #1069
I think it makes sense to adopt the same defaults as SQL, since as you point out it doesn't make much sense otherwise.

---
On a perhaps (un)related note, I'm not a fan of the implicit window functions. I was surprised when I became of them in another thread with aljazerzen. I would rather have the window function be specified but get rid of the `derive` like we have for `aggregate`. So my proposa

[2022-10-24 10:19] #1037 closed, assigned to nobody

[2022-10-24 10:24] MarinPostma commented on #1042
I can do that :)

[2022-10-24 10:27] MarinPostma commented on #1042
I propose that the trait is renamed to `FoldIrRef` where only a ref is required, wdyt?

[2022-10-24 10:28] snth commented on #1069
I'm trying to understand the query as per description:

Original SQL
[code]

Factoring out the `FROM` clause into a separate CTE:
[code]

---
This is somewhat tangential to the question but I think this is a good example of why I believe in PRQL we should disallow inline (sub)queries in transforms such as FROM, JOIN, UNION - it makes things very confusing and breaks the linear dataflow. Given the

[2022-10-24 12:53] MarinPostma commented on #1042
I gave this a quick look, and it appears that the two instances where AstFold are used return a mutated version of the AST, do you want to mutate the last in place? in which case, fold method would take a exclusive reference to the AST node?

[2022-10-24 12:54] MarinPostma commented on #1042
@max-sixty I just saw that you were taking a stab at this 🤦, my bad

[2022-10-24 14:02] aljazerzen commented on #1044
The sort should be set on at your third and fourth comment, because these two sort attributes belong to sort and derive, respectively.

We need this sort attribute set for all transforms, because some of them will need it afterwards (for example derive if contains window functions and take X, which may be converted `derive row_number = rank | filter row_number < X`).

Did I understand your questio

[2022-10-24 15:52] aljazerzen commented on #1042
Oh sorry, in the meantime I've found another use of IrFold that does need passing by value.

Which means that this issue is obsolete.

[2022-10-24 15:52] #1042 closed, assigned to nobody

[2022-10-24 16:57] max-sixty commented on #1042
No prob, thanks for starting.

Possibly @aljazerzen has some more suggestions for us :)

[2022-10-24 17:04] max-sixty commented on #1037
Thanks @MarinPostma !

[2022-10-24 17:11] max-sixty commented on #1069
This is brilliant — @aljazerzen spends a great deal of energy building the `group` & `take` interaction, and I don't use it! Thanks @snth. I may put this in the canonical examples.

[2022-10-24 17:17] max-sixty commented on #1069
Yeah, I put this in the bucket of "It's better. But it's less familiar with a mental model of SQL". I'm fine opening an issue and collecting thoughts; these issues are a delicate tradeoff rather than something we can discuss our way to a solution.

FWIW your final example — using the `group` & `take` transforms — is also using implicit window functions!

[2022-10-24 19:29] max-sixty commented on #1044
OK great. Does this mean the diff should be:

[code]

Do we also replace the `Sort` transform with the `From`, like:

[code]

Thanks!

[2022-10-25 08:06] aljazerzen commented on #1044
Yeah that's it exactly.

We don't need to remove `Sort`, it will still be needed to for constructing ORDER BY. It's just that it has additional effects on some transforms.

[2022-10-25 15:56] aljazerzen opened #1081 "Omit table names in idents when there is only one table in SELECT"
----

When we compile to very basic `SELECT` statements, table name prefixes in indents are not needed:
[code]
As soon as there are multiple tables, prefixes are needed:

[code]

This is because table `genres` could have column with name `title` which would cause conflict.

On branch `semantic`, we always include prefix, just to be sure, but it would be better to omit when possible. To make simple

[2022-10-25 16:22] MarinPostma commented on #1081
Looks interesting if @max-sixty lets me have it :)

[2022-10-25 17:31] max-sixty commented on #1081
I doubt this, but yes @MarinPostma please go ahead!

[2022-10-25 18:58] max-sixty opened #1083 "Regular dev call, twice monthly"
We have a call twice a month for developers; we use this to sync on current discussion issues and, if we have time, broader discussions about the language.

It's at 10.30AM PT on the 1st & 3rd Sunday of every month. It's scheduled for 30-45 mins, and we have a hard-stop at 60 mins. There's an [ics file](https://prql-lang.org/book/project/contributing/fortnightly-dev-call.ics) linked from the [Cont

[2022-10-26 10:08] aljazerzen commented on #1044
I few things: I underestimated difficulty of this task. When I wanted to explain it better, I realized that it's too hard and when I tried to get started on it I found some undocumented bits that would block anyone who hasn't written that code.

A few things:
- I've cleaned-up serialization of TransformCall, so default values don't get serialized.
- This task should also handle flattening of group

[2022-10-27 14:54] eitsupi opened #1086 "Multiple join seems buggy"
Sorry if this has already been reported.
Queries containing multiple joins do not seem to translate well to SQL?

In the following example, I think it need to use WITH one more time.

[code]

[code]

[2022-10-27 17:54] max-sixty commented on #1086
Thanks for the issue @eitsupi

There are a couple of issues on this that we're working through, as part of a broader refactor. #820 is an example.

It's useful to have additional examples. Could you show the query you think it should produce? I wasn't sure what "use WITH one more time" referred to. Thanks!

[2022-10-27 17:55] aljazerzen commented on #1086
I don't think this was reported already.

It seems that the problem is that `id_a` should be in a SELECT preceeding the SELECT with JOIN. Is this right?

If so, this will probably be solved by #593.

[2022-10-27 19:31] max-sixty opened #1087 "State the benefits of PRQL more clearly"
In most of the conversations I've been having with folks, the starting questions are almost always "why is this good" and "who is it for". Then when I discuss them, it clicks.

I don't think our copy is sufficient at the moment — on the website we lead with "Principles" rather than "Benefits".

Let's instead have key benefits, and maybe how they map to main users; e.g. (will refine)
- Better devel

[2022-10-28 07:39] max-sixty commented on #1031
Closed by #1079 , tested by #1090

[2022-10-28 07:39] #1031 closed, assigned to nobody

[2022-10-28 08:51] aljazerzen commented on #1087
We should have sections:

Compared to SQL:
- Better developer ergonomics — edit queries as you explore data. Composable
- Easier to learn
- Modern

Compared to dataframes libraries:
- One language for all DBs & most in-memory relational engines (TODO)
- Dataframes are first-class citizens (name resolving and type checking of column references)

Take my suggestions with a grain of salt, I don't spe

[2022-10-28 13:03] eitsupi commented on #1086
Thank you for your reply and sorry for the lack of explanation.
I was assuming the following SQL.

[code]

I think the generated SQL's last join will fail because the left table does not have `id_b`.

Sorry the column names are confusing, but the purpose is to join multiple tables by traversing foreign keys.

[2022-10-28 13:22] aljazerzen commented on #1086
Yes, this is a bug. I don't think it a problem with multiple joins, but how USING is implemented. Here is a minimal example:

[code]

I'm fairly certain that #593 indeed solves this, let's revisit this issue when it merges in a few weeks.

[2022-10-28 13:58] aljazerzen commented on #968
This is a must-have, great issue report. As PRQL is oriented toward analytical queries, specifying a temporary table must be built into the language.

This is very similar to CTEs, though. The difference is that CTE is accessible from a single query and will never be written to disk (at least in Postgres).

Instead of `into` syntax, maybe we could have `cache` function?

[code]
or equivalently:
[c

[2022-10-28 14:13] aljazerzen opened #1092 "Mutation queries (DML)"
Ref #968

Right now, PRQL (which stands for *something something QUERY language*) does not support any DML commands (DML stands for Data Manipulation Language). Do we want it to support INSERT, UPDATE & DELETE?

I'm opening this issue mostly as a tracking/planning issue, as we don't have the capacity to work on this in the near future.

Let's start with observation that there are use-cases that ne

[2022-10-28 15:08] aljazerzen commented on #1069
That's not true: when using LAG, you want the whole window but also want to have order. Same with RANK.

[code]
This works the same as it would with expanding window (which is the default), because window functions that map `column -> column` are not affected by range or rows at all.

So I think that being explicit is good in this case and we should stick to being predictable instead inheriting SQ

[2022-10-28 15:27] aljazerzen commented on #1069
Some notes on how I think about windowing (consider this an optional read, I want to formulate my thoughts).

There are two types of windowing:
- actual window functions that produce the whole column at once (LAG, RANK, NTILE, ...). They map n rows into n rows by definition, which means that specifying a window frame does not make sense, since they always use and produce the whole window at once.

[2022-10-31 16:41] max-sixty opened #1099 "Pandas integration"
I think a limited pandas integration would be quite possible. I remember @rbpatt2019 discussing this when he was doing lots [^1]

It wouldn't do everything that pandas can do, but for most of what PRQL can do, the translation doesn't require context and is fairly simple (I think).

Two options I could see:
- Compile the PRQL AST into a python string, like we do for SQL, and `eval` it in python. Ad

[2022-11-01 02:07] max-sixty opened #1102 "Lezer / CodeMirror grammar"
As discussed with @antonycourtney, a [Lezer]( https://lezer.codemirror.net/docs/guide/) grammar would be useful, to the extent he explores using PRQL in some of his tools.

IIUC this will give us a CodeMirror grammar for free. It's a similar design to treesitter.

For context we have a startling array of grammars for syntax highlighting:
- [hljs](https://github.com/prql/prql/blob/8c402e06ef7393211

[2022-11-01 03:44] max-sixty commented on #1092
As ever, I'm keen to prioritize whatever people need to make PRQL more helpful for folks. While my initial inclination is to downweigh DML, I'm open to ideas, and one voice among many.

I can see two broad needs for this:

1. Writing the results of a query. I'm not sure how this should be split between PRQL vs. its tool (e.g. prql-query, dbt, etc); much of my experience is with dbt, which does thi

[2022-11-01 11:34] richb-hanover opened #1103 "Passing `printf` through?"
I have some existing SQL queries that do fancy formatting on numeric values using printf(). Example:

[code]
I would like to wrap this formatting in a function (because I use it many places), but don't see how to do it yet.

Is it possible to do this in prql now? Is it on the road map? Many thanks.

[2022-11-01 12:57] snth commented on #1103
I don't think that's a general SQL expression, is this for sqlite specifically? Have you tried using an [s-string](https://prql-lang.org/book/language-features/s-strings.html)?

[2022-11-01 13:06] richb-hanover commented on #1103
I'm using it with SQLite. I don't know much about the SQL language.

I just found s-strings... I'll check them out and re-open if it's warranted.

[2022-11-01 13:06] #1103 closed, assigned to nobody

[2022-11-01 22:28] richb-hanover opened #1104 "docs: Check usage of 'brackets' vs. 'braces'"
I note on line 37 of the s-strings.md document, there could be an error where "bracket" (e.g. [ ] ) is used where I believe the correct term would be "braces" ( { } )

Are there other instances of this error? Thanks.

[2022-11-02 00:27] max-sixty commented on #1104
That would be good to fix!

[2022-11-02 00:53] richb-hanover commented on #1103
@snth - the playground makes it look as if s-strings might work. Thanks.

[code]

[2022-11-02 12:20] #1081 closed, assigned to MarinPostma

[2022-11-02 15:31] max-sixty commented on #1099
As discussed on discord with @mklopets & @aljazerzen , the PyPRQL probably does need a refresh. That said, the functionality is pretty good, and I might downweigh have a specific pandas target rather than using DuckDB like PyPRQL does

[2022-11-02 15:37] max-sixty commented on #1087
Closed by #1098

[2022-11-02 15:37] #1087 closed, assigned to nobody

[2022-11-02 15:56] max-sixty opened #1106 "`prql-compiler` name?"
I remember this was discussed a while ago, around possibly renaming to `prqlc`. I don't have a view but wanted to ensure I wasn't dropping something others were expecting.

The others I'm familiar with are `rustc` and `ocamlc` (but also `ocamlopt`), though go is just `go` IIUC. Any others?

I can understand not just calling it `prql` given it is more "core" and probably not going to be called dire

[2022-11-03 01:55] wtkhan commented on #69
@max-sixty, I know this issue's been closed, but wanted to add this example of QUEL's powerful nested aggregations feature to the discussion. From Wikipedia:
[code]
Is this something PRQL could support?

[2022-11-03 13:01] aljazerzen opened #1107 "Touchup website design"
We do have a website that is not bad looking, but it's not great.

There are a few specific issues like "[FAQ is too wide](https://github.com/prql/prql/issues/670)" and there is also my recent observation that typography doesn't look all that well. I cannot pinpoint what's wrong, but I feel it's something with combination of title & body fonts.

I'm opening this issue as an invitation for anyone w

[2022-11-03 13:08] aljazerzen commented on #1106
I think we need a distinction between:

- `prql-compiler`, which is a library that can be used directly from Rust or via bindings for other languages, and
- `prqlc` which is the CLI that you can invoke to compile `.prql` files to `.sql`. This is the thing that needs a short name.

`prql-compiler` will probably be split into it's own sub-dependencies (`prql-ast` for example) so future projects (suc

[2022-11-03 13:12] aljazerzen commented on #1102
Similar to #285, related to #131

[2022-11-03 20:10] snth commented on #1106
Great suggestion @aljazerzen . I agree with that.

[2022-11-03 20:47] max-sixty commented on #69
Yes, I also find the inline transformations great. Here there's a couple:
- a `filter` / `where`, e.g. `count(y where y.str = "ii*")`; ref https://github.com/prql/prql/issues/82
- The groupby; i.e. `max(count(y.i by y.d))` is also nice

I'm not confident on the best way of having this in PRQL. In full verbosity `a=count(y.i by y.d where y.str = "ii*")` would be something like:

[code]

...which is

[2022-11-03 20:57] snth commented on #1092
I agree with @max-sixty .

Point 1. seems like a small addition which could be relatively straight forward and I think is worth adding.

Point 2. to me seems more complex and more at odds with the initial aims of PRQL and so I would downprioritise quite far down the list (possibly as far as never).

[2022-11-05 05:58] eitsupi commented on #1099
Just a note: R's [tidyquery](https://github.com/ianmcook/tidyquery) supports both notations, but I feel that the latter is more straightforward, because eventually one of the tables must be represented in the string when targeting multiple tables like join.

[2022-11-05 09:16] aljazerzen opened #1111 "Deterministic/pure functions"
In SQL, deterministic functions (called [STABLE/IMMUTABLE](https://www.postgresql.org/docs/current/xfunc-volatility.html) in Postgres) guarantee return same result given same arguments.

An example of non-STABLE function would be `RANDOM()`.

This clashes with our inlining of some column expressions:

Because columns in SELECT cannot reference columns declared in the same SELECT, you often have to

[2022-11-05 21:44] max-sixty opened #1113 "prql-js tests in GHA?"
Do we currently run the [`prql-js` tests](https://github.com/prql/prql/blob/main/prql-js/tests/test_all.js) in GHA?

I see we have a separate [`package.json`](https://github.com/prql/prql/blob/main/prql-js/tests/package.json) for the tests, with a version of `0.2.2`. I don't know JS test conventions at all — are they generally a separate package? I can adjust the release script to bump that `packa

[2022-11-07 13:22] mklopets commented on #1099
I think I'm missing some context here: @max-sixty could you elaborate a tiny bit on how this is different from what `pyprql` does (other than that one small API change we discussed)?

[2022-11-07 20:14] max-sixty commented on #1099
My original thinking was that we could make a backend target specifically for pandas.

`pyprql` has a duckdb backend which can itself target pandas.

On reflection, I think that's very sufficient, and writing our own pandas backend would not be a good idea!

I can work on some refresh of that at some point (I just added https://github.com/prql/PyPrql/issues/75), though others are more than welcome

[2022-11-07 20:14] #1099 closed, assigned to nobody

[2022-11-08 04:40] richb-hanover opened #1116 "Variable replacement doesn't respect precedence"
In this example, the resulting code for `diff` should be `c - a - b` or `c - (a + b)`
[code]
(Tested with current VScode plugin and Playground)

[2022-11-08 04:45] max-sixty commented on #1116
Great, good catch.

A full repro:

[code]

[code]

[2022-11-08 13:02] richb-hanover opened #1117 "What's a good place to discuss language questions and issues?"
I have had some fun horsing around with PRQL, building queries that match some SQL queries I built a while back. I also have been taking notes about confusion/hurdles/problems that I've encountered.

I posted them in my [pqtest repo.](https://github.com/richb-hanover/pqtest)

None of my comments (except #1116) are serious, and can be addressed over time. What's the best way to review these? Thanks

[2022-11-08 19:34] cottrell opened #1118 "prql and floating point/scientific notation"
This query seems to fail due to the e-5 ... is there some obvious way to work around it?

[code]

[2022-11-08 20:25] max-sixty commented on #1117
@richb-hanover this is fantastic! Thank you so much. We really need this sort of review.

In terms of how to convert these into improvements in PRQL, a few tracks, depending on how much you'd like to make a mark on the repo itself:

- Many things could go in the book; e.g.

- There a category of bad error messages. That could either be an issue in this repo, or if you're feeling ambitious, an inst

[2022-11-08 20:31] max-sixty commented on #1118
Thanks for the question.

While we don't have scientific notation in PRQL yet, this "should" be solvable with an s-string.

Unfortunately because we format the SQL and our SQL formatter doesn't seem to support them either, it currently doesn't work for a different reason:

[code]

[code]

This is related to https://github.com/prql/prql/issues/965. No word yet on https://github.com/shssoichiro/sqlf

[2022-11-08 22:11] richb-hanover commented on #1117
You have categorized my stream-of-consciousness list well. I am up to my elbows in stuff right now, so I won't be able to work on most of these. (I'm hoping that I left enough suggestions for someone to take on the documentation changes.)

I figure I _do_ owe you reproducible examples for the last set, though: I will add them to my `pqtest` repo, then post a note here.

PS One more question for do

[2022-11-08 23:21] max-sixty commented on #1117
Either work! https://prql-lang.org/book/language-features/strings.html

[2022-11-08 23:40] richb-hanover commented on #1117
Ahah! I searched for `"""` and got no results. Now I have more experiments to perform, more variations to play with! :-) Thanks.

**Update:** And seemingly, `'` and `'''` also work as string delimiters

[2022-11-09 07:09] cottrell commented on #1118
s-string is a good enough work around for me. It's good to know what does not exist yet (but might eventually).

[2022-11-09 09:22] cottrell commented on #1118
I just noticed that there is still some whitespace issue as shown below that is probably worth fixing eventually:

[code]

Workaround might be

[code]

or

[code]

[2022-11-09 18:46] #1044 closed, assigned to max-sixty

[2022-11-09 22:12] max-sixty commented on #1118
Yes re the whitespace — I tried to say that above, likely I wasn't clear.

But your workaround with `CAST` is very clever! Great idea.

Are you OK bundling this into those issues re the s-string contents being formatted, sometimes incorrectly?

[2022-11-09 22:15] max-sixty commented on #1044
Thanks for completing this @aljazerzen — sorry this was another one you ended up doing yourself. I'm reading through your code now so at least I'm keeping pace.

[2022-11-10 07:12] aljazerzen commented on #1044
Don't feel bad, because as I said, this turned out to be more complex than I expected.

[2022-11-10 09:25] cottrell commented on #1118
Yeah, sounds good. Will close this to reduce noise

[2022-11-10 09:25] #1118 closed, assigned to nobody

[2022-11-12 01:37] richb-hanover opened #1123 "SOLVED: Replacement for SQL LIKE function?"
I frequently rely on the SQL `LIKE` operator to match rows. Is there an equivalent way to say this in PRQL? Thanks.

---
**Solution:** With the addition of the `text` module, "%abc%" can be implemented with these functions that return a boolean:

- text.starts_with("abc")
- text.contains("abc")
- text.ends_with("abc")

**Usage:**

`filter ( text.contains "abc" column-name ) #  all rows with "abc"

[2022-11-12 01:42] richb-hanover opened #1124 "Bad error message: `filter` after `select`"
PRQL compiles this code just fine to produce the expected SQL:

[code]

Moving the `filter` after the `select` gives an "Unknown variable" error:

[code]

Is this expected?

[2022-11-12 03:22] richb-hanover commented on #1116
Another example where the current 0.2.9 compiler gets the wrong output by not parenthesizing its sub-expressions.

To reproduce, this example compares property tax between 2020 & 2021. The tax is computed by multiplying the year's rate (dollars per thousand of value) by the home's assessed value in the year, dividing by 1000 to normalize. (At the $25.00 tax rate, a $100,000 house would pay $2,500

[2022-11-12 03:25] richb-hanover opened #1125 "Case-sensitive variable names in Playground"
The following code gives `Unknown variable 'appraised'` in the Playground
[code]

Saving this as a file using the VScode extension _sometimes_ causes the latter "appraised" to be converted to "Appraised" (removing the error) before saving the file.

Are all variable names case-sensitive in PRQL?

[2022-11-12 12:51] richb-hanover commented on #1116
Update to my `(pct ...)` function. The version above displays a percent increase of 5.6% as "56000.0". It can be made numerically accurate by:

1. Casting the numerator (only) to real,
2. Putting parentheses around the denominator

`func pct o n -> s'cast(({n}-{o}) as real)/({o})*100'`

Observations:

* When writing PRQL I am comfortable taking responsibility for ensuring enough digits of accuracy

[2022-11-12 13:25] richb-hanover opened #1126 "Not a bug: A Thank You!"
I am really enjoying PRQL. It dramatically meets its goal of simplifying and cleaning up the fussiness of writing SQL. The ability to declare variables (with `derive`) and functions helps with the DRY principal - Don't Repeat Yourself.

For example, the two code segments below give the same results, but the PRQL is way easier to read, and certainly easier to type without error. And of course, I ca

[2022-11-12 21:42] richb-hanover commented on #1125
**Update:** I believe the two items mentioned in #1117 are both symptoms of this single test case:

[2022-11-12 22:11] max-sixty commented on #1116
Thanks for the extra examples.

To confirm that I'm understanding the full issue, would parenthesizing the expression be sufficient? I think that's the case but wanted to check.

[2022-11-12 22:13] max-sixty commented on #1116
I adjusted the title a bit as it's specific to variables / s-strings, and not specific to left-to-right precedence, IIUC

[2022-11-12 22:14] max-sixty commented on #1124
This is expected — `select [b]` means there's only one column there — `b` — and so it can't filter on `a`. Does that make sense? Maybe we want `derive` instead of `select` for this?

[2022-11-12 22:45] max-sixty commented on #1123
It's a good question; I also use `LIKE` given its simplicity.

It's not that extensible, unlike regex, so one option is to exclusively use regex; https://github.com/prql/prql/issues/562

But regex is not completely trivial, and much of the time we're just asking "is this string in this other string?". Possibly we start with the regex impl and see how that goes. As ever, open to thoughts on this.

[2022-11-12 23:18] richb-hanover commented on #1116
I agree the updated title is better.

To address your latest question: For the "percentage calculation", it is possible to work around the problem by inserting paren's around the denominator. But...

In "ordinary arithmetic", the formula for a percentage change is `(new - old) / old`.  As a PRQL function, adding the parens like this:  `(new - old) / (old)` works around the problem.

But people are

[2022-11-12 23:26] richb-hanover commented on #1124
Ahah! I'm still learning the semantics of PRQL. Your explanation makes total sense. The trick is to come up with a comprehensible error message.

Perhaps something like, "Unknown variable `a` in result table" or "Variable `a` not present in result[1]" ...

[1] What's the term of art for the data structure that gets passed to the next stage of the pipeline? That's the word to use in place of "resul

[2022-11-12 23:41] richb-hanover commented on #1123
Yeah, but ... Everyone learns about `LIKE %string%` in their first week of SQL class. It's real easy to use, and is remarkably useful.

I'm very comfortable with creating complex regexes if necessary.

But I would argue that `LIKE` goes a long way toward solving the problem, i.e., your example: "is this string in this other string?". (I think) it has the same semantics as `foo == 'abc'`, so the pa

[2022-11-12 23:57] max-sixty commented on #1116
I very much agree with your stated goal! `(new - old) / old` should work.

From what I can see, if the compiler adds parentheses around expressions, then that's sufficient. But if there are any contrary examples then please post...

[2022-11-13 00:04] max-sixty commented on #1124
Ha, this is a good question actually  — "result at X" might be reasonable? "Intermediate result"?

---

The full error message is (btw it's helpful if we post both the input and output when making issues):

[code]

it does point to the location where it can't find `a`. Maybe we could say "found column `a` above, but it excluded at `select [b]`", or try and offer suggestions? That would be quite ni

[2022-11-13 00:04] #1124 closed, assigned to nobody

[2022-11-13 00:08] max-sixty commented on #1125
WDYM that sometimes VSCode converts it? As in, VSCode changes your PRQL text?

I wasn't aware we had an auto-formatter. Are we confident this is the PRQL extension — does it do this without the extension installed?

Re case sensitivity — yes, PRQL is case-sensitive. To the extent that's not in the book, that would be a helpful addition!

[2022-11-13 00:09] max-sixty commented on #1126
Nice! Thanks for the feedback @richb-hanover .

That's a great example of PRQL functions at work!

[2022-11-13 00:10] #1126 closed, assigned to nobody

[2022-11-13 00:45] richb-hanover commented on #1116
That sounds right. And I don't know of any case where that wouldn't work, but I'll definitely sound off if I find any.

[2022-11-13 01:03] richb-hanover commented on #1125
1) Yes, I seem to remember the VScode extension changing case (like a pretty-printer that patches up the code on Save...) But it doesn't always do it.

2) And now I cannot create a reproducible case. It sounds as if I should report it if I can find one.

3) I don't know all the things that the VScode extension is doing. It tends to "do the right thing", so it's very comfortable to use. But I don't

[2022-11-13 01:11] richb-hanover commented on #1124
That's correct, but very long and probably a lot of work. Another tack: Can we make it Google-able? I don't know how malleable _pest_ is, but perhaps we could offer "Column `a` not present in result"

- It's a short string, with only the variable name needing to be substituted
- It's correct (if you think about the "result" properly)
- Googling "PRQL 'Column not present in result' would likely lea

[2022-11-13 01:13] richb-hanover commented on #1126
Send this note off to your Marketing team! Or your social media coordinator!

[2022-11-13 01:17] max-sixty commented on #1125
OK thanks — let's reopen when we can repro

[2022-11-13 01:17] #1125 closed, assigned to nobody

[2022-11-13 01:26] max-sixty commented on #1124
I'd be open to that change!

For tweaks like this — where there's no bug or feature request — but the experience of PRQL would be marginally improved — the contribution is welcome. I'm not sure how to manage the GH issues though — it's unlikely a different contributor is going to adjust that error message unless they perceive the issue themselves. So my inclination is to suggest either making that

[2022-11-13 14:10] richb-hanover commented on #1124
Thanks for your confidence, but I am reluctant to learn yet another code base/language/development environment. (Even if I _did_ set up a Docker environment that might make it "easy"! :-)

I'm going to leave the change for someone who's more facile in Rust... (I do acknowledge your question: how do we keep track of these "simple changes"? Other projects have a "Good first bug" tag...)

But don't w

[2022-11-13 14:55] richb-hanover opened #1128 "Case Sensitivity in PRQL - Pros and Cons"
I've been woolgathering about the value of case-sensitivity in PRQL. So I thought I would write down my random thoughts, to see what I think, and pass that along to you.

Assumptions:

- PRQL will always require a compiler to generate the SQL. It can enforce any rules
- I _think_ SQL is case-insensitive. I know its keywords are; most of my experience is with SQLite, where I believe table and colum

[2022-11-13 19:50] aljazerzen commented on #1128
I think this decision was made before I joined the project, but I also stand behind it. But it's a good thing that we have a discussion about it.

The trend in other programming languages is going toward case sensitive keywords and identifier, with basically all major languages being case sensitive (C, C++, Java, Rust, Go, JavaScript, Python). This is not a real justification, but just an observat

[2022-11-13 20:06] richb-hanover commented on #1128
Good. I'm content with this decision. One of the reasons I write these things out is to document a discussion of the issues, and our conclusions. I will close this. Thanks, all.

[2022-11-13 20:06] #1128 closed, assigned to nobody

[2022-11-13 22:20] max-sixty commented on #1128
Great, thanks @richb-hanover , very much agreed

[2022-11-13 22:28] max-sixty opened #1129 "Hosted PRQL Rill"
As discussed on the dev call, we could host our own version of Rill, with this fork: https://github.com/rilldata/rill-developer/pull/1220

That would be a really nice way of people being able to try PRQL on real data; this has been a frequent suggestion.

For the setup:
- I guess we rent a box on Google Cloud
- How would multi-tenancy work? Could lots of people use this without interfering with ea

[2022-11-14 12:37] cottrell opened #1130 "Can not cast (using pipe) on aggregated output?"
I think this should work. Doing similar operations on pre-aggregated columns does work.

[code]

[2022-11-14 18:06] max-sixty commented on #1130
Thanks @cottrell, this is a bug, sorry about that.

Here's an even smaller example:

[code]

[code]

Or even:
[code]

[code]

---

On first glance, this is quite surprising. I think `select` is clearing the namespace and PRQL doesn't know that `int` is allowed as a keyword and it doesn't need to try and resolve it to a column name.

If this is blocking you, I can look later today and see whether t

[2022-11-15 06:29] cottrell commented on #1130
No worries, I think i've worked around it by doing something like `x * 1.23 / 1.23` or similar which must rely on some inspection.

[2022-11-16 11:12] rolinh commented on #1092
I'm on that bandwagon as well. I think that the lack of support for DML is a feature (and actually one of the points that make PRQL interesting for my use case). Now, assuming DML support is optional, e.g. as a language extension, I think it could actually be a good thing.

[2022-11-16 15:42] aljazerzen commented on #1092
Why do you think that lack of DML is a feature?

[2022-11-16 15:43] cottrell opened #1134 "Math is not respected (order of operations with lots of bracketing)"
Some interpreter bug I guess?

[code]

[2022-11-16 19:33] max-sixty commented on #1134
I _think_ this is the same as https://github.com/prql/prql/issues/1116

I think I could make a quick fix for this

[2022-11-16 20:01] max-sixty commented on #1116
A draft fix: https://github.com/prql/prql/pull/1136

[2022-11-16 20:02] max-sixty commented on #1134
Closing as dupe for #1116. An unfinished draft fix is at https://github.com/prql/prql/pull/1136

Thanks a lot @cottrell !

[2022-11-16 20:02] #1134 closed, assigned to nobody

[2022-11-17 12:33] cottrell opened #1138 "Join should not include columns twice"
Consider

[code]

which currently outputs
[code]

but probably should output
[code]

[2022-11-17 14:17] rolinh commented on #1092
For my use-case, I want to allow technical but non-db people to query data (e.g. security engineers). The only part of SQL that is allowed is read-only queries (ie `SELECT`). In this context, users have no need for DDL, DML or DCL and that means that receiving permission errors whenever an "unsupported" statement is used might be surprising to users who potentially expect for the whole PRQL langua

[2022-11-17 14:42] richb-hanover opened #1139 "Need to preserve "zero" decimal places in variables"
It's a common SQL technique to multiply a value by 1.0 (or by 100.0 if computing percentages) to force a cast to REAL. But it looks as if the 0.2.9 compiler drops zeroes after the decimal point:
[code]
gives

[code]

[2022-11-17 15:09] aljazerzen commented on #1092
I see, it really is a feature. We would at least need to have an opt-in for writable tables and compile with "table not writable" by default. Or include DML via extension, as you suggested.

And great to hear about Kusto!

[2022-11-17 19:06] max-sixty commented on #1139
Nice find; marking this as a bug.

[2022-11-18 08:32] #1139 closed, assigned to nobody

[2022-11-18 11:36] richb-hanover commented on #1139
That was speedy. Thanks!

Side question: What's the policy on incrementing the version number? (I see the Playground is already updated.)

Side question #2: I see the VScode extension has also been updated to handle `i=1.0`. That's very cool! But how did that happen?  Thanks again

[2022-11-18 19:10] max-sixty commented on #1139
Mostly whenever someone would like a release, I cut one...

I don't see this?

[2022-11-18 19:48] max-sixty commented on #1138
I'm going to start tagging issues that we're relying on the `semantic` branch with the semantic label.

If anyone needs a fix urgently to unblock them, please post and I can try and rush something. Some will be possible, some less so...

(CC @aljazerzen, hope that's OK your end)

[2022-11-18 20:02] #1104 closed, assigned to nobody

[2022-11-18 21:39] richb-hanover commented on #1139
Hmmm... I need to clean my spectacles. It's available now in the Playground, not in the VScode extension. Sorry for the false alarm

[2022-11-20 04:46] max-sixty commented on #1116
Closed by https://github.com/prql/prql/pull/1136

[2022-11-20 12:47] richb-hanover opened #1146 "Cleanup after solving precedence problems"
The solution to #1136 and #1139 make significant improvements to the usefulness of the PRQL anguage. A couple thoughts:

- Does this warrant a change to the version number?
- How can a new version of the VScode extension be generated?
- Does the Changelog need to be updated (since significant bugs have been fixed)?

Thanks as always

[2022-11-20 19:58] max-sixty commented on #1146
Yes we can release a patch version later

New VSCode extension then needs to be released by updating its `package.json`

Yes we should do the Changelog — I generally do this when releasing; though PR welcome!

[2022-11-20 19:58] #1146 closed, assigned to nobody

[2022-11-20 22:57] richb-hanover commented on #1146
It would be terrific to release a new version of the VScode extension. Then I could use it to create (and save) queries that rummage through my database of property values. Thanks.

[2022-11-20 23:13] richb-hanover commented on #1116
Uh oh. I don't think the current code handles the case of [#1116](https://github.com/prql/prql/issues/1116#issuecomment-1312341909) where the divisor has multiple divisions.

After executing the resulting SQL (from the Playground), the Increase column (the result of the `pct` function) shows 5600.0 instead of 5.6 (%)

[2022-11-20 23:26] max-sixty commented on #1116
Can we show the PRQL and resulting SQL?

[2022-11-21 03:05] richb-hanover commented on #1116
Sorry - I should have provided the test case. Here's the PRQL and the result (using today's Playground)
[code]
yields
[code]

After executing the resulting SQL (from the Playground), the Increase column (the result of the pct function) shows 56000.0 instead of 5.6 (%)

Update: What's peculiar is that the expected answer is 5.6%. But the computed value is 10,000 times that amount, not 1,000 times.

[2022-11-21 03:13] richb-hanover commented on #1116
NB: Placing paren's around the denominator of the pct function gives the correct result, e.g.,

`func pct o n -> s'100.0*({n}-{o})/({o})'` yields 5.6

[2022-11-21 13:31] max-sixty commented on #1116
Thanks for spotting! V helpful.

To the extent we can produce a minimal example, then that's useful; I'll start with that otherwise when I'm online.

[2022-11-21 14:19] aljazerzen commented on #1138
(I'm ok with tagging semantic)

Unfortunately, this is not possible in general, at least not without knowledge of table DDL. A counter example is this:

[code]
which would, in your proposal, probably translate to:
[code]
But this includes all columns from first_table too, even though we wanted only `some_index` and `foo`.

I know that current behavior is not ergonomic at all, because results conta

[2022-11-21 14:19] aljazerzen commented on #1138
## The change

I added "self equality" operator `~`, which does exactly what plain ident did before in `join`:

[code]
which translates to:
[code]

It does **not** translate to USING, but to `ON left = right`, which means that the result also contains both columns from left and right.

## The reason

We currently have custom behavior on `join` where plain idents are interpreted as USING and resolv

[2022-11-21 14:39] richb-hanover commented on #1116
Caught you, you weasel! :-) Reproducible case - requires a function call:

[code]
Playground yields (21Nov2022)

[code]
SQL output shows:

[code]

[2022-11-21 15:25] richb-hanover commented on #1116
**Update:** Even simpler test  case

[code]
Playground yields (21Nov2022)

[code]
SQL output shows:

[code]

[2022-11-21 20:53] snth commented on #1138
I will need to ponder this a bit as I don't know enough about the resolving behaviour to understand what you mean by

---

In the example
[code]
, can it not turn the first two rows into a CTE and then use the `SELECT * FROM ...` form?

What if in `first_table` the column was called `first_index` so that it has to be renamed with a `derive`, would it generate a CTE then as in?
[code]
The current p

[2022-11-21 21:31] max-sixty commented on #1116
Excellent case @richb-hanover ! I'll look at this

[2022-11-22 03:45] richb-hanover commented on #1146
**Update:** the VScode extension updated itself to 0.3.3 when I launched VScode. It now matches the Playground behavior that fixes some of the operator precedence problems and the failure to carry floating point digits. Thanks.

Neither the Playground nor the VScode extension address the [#1116bug ](https://github.com/prql/prql/issues/1116#issuecomment-1322230825) that involves a function call.

[2022-11-22 06:46] snth opened #1154 "Add PRQL Version comment to the generated SQL"
I was wondering whether it might be useful to have a comment like
[code]
at the top (or bottom) of the generated SQL?

Maybe in the Playground as well as in `prqlc` with the option to disable / enable it whatever the default ends up being?

That way when you copy and paste SQL to Github issues or dbt models or wherever, you have a reference point where it came from.

If you have Github issues that

[2022-11-22 10:03] snth commented on #1116
I read the last example (and only skimmed over the rest of the thread so apologies if I'm missing some context).

To me it seems that while functions are defined through s-string substitutions, they are essentially opaque to the compiler so there's not much it can do to ensure semantic correctness.

Only thing I could think of is to wrap each function argument in parenthesis and then run the final

[2022-11-22 12:24] max-sixty commented on #1116
Yes I think this is spot-on. We're using literal replacement and expecting semantic correctness. If we use semantic replacement, it works — i.e. `func fun3 n d -> n / d`.

---

I'm not sure of the best solution — the current design is correct is the literal sense, but at least with these examples, it's clearly not doing what the user intends.

Potential reasons to not wrap / nest the variable:
- A

[2022-11-22 12:25] max-sixty opened #1155 "Should we nest variables in s-strings?"
Yes I think this is spot-on. We're using literal replacement and expecting semantic correctness. If we use semantic replacement, it works — i.e. `func fun3 n d -> n / d`.

---

I'm not sure of the best solution — the current design is correct is the literal sense, but at least with these examples, it's clearly not doing what the user intends.

Potential reasons to not wrap / nest the variable:
- A

[2022-11-22 12:25] max-sixty commented on #1116
Opened a new issue with the most recent comment, since this is now smaller is scope now that the associativity issue is  fixed

[2022-11-22 12:25] #1116 closed, assigned to nobody

[2022-11-22 12:40] max-sixty commented on #1154
Yes I think this is a nice idea!

We could implement with an option from the CLI / bindings / header. I'd be fine having it default on if others agree; or we could start with in being opt-in.

It could cause some churn in our examples / tests — the outputs would change every version (or even every commit if we included the exact commit version). But we could turn those off.

[2022-11-22 12:46] richb-hanover commented on #1155
I also agree with @snth in #1116: the PRQL compiler cannot see inside the s-string.

_Updated this paragraph..._ I'm not so worried about leaving "extra paren's" around each function parameter's expansion. It would be correct (if we believe that after further testing), easily explicable, and mostly not "in the way". (The use case of people reading the generated SQL to learn PRQL will still work. O

[2022-11-22 13:34] richb-hanover commented on #1154
I am enthusiastic about this idea (appearing at the bottom, I think). A couple more thoughts:

- In another life, I found it helpful to include a date and time in the result to make it easier to compare results. It might be useful here, although I could be convinced otherwise.
[code]
- I hate options. (That is, I'm intensely wary of "just adding another option".) They complicate testing, especiall

[2022-11-22 13:39] snth commented on #1154
I think the date would be a good addition.

Regarding the tests, you could replace the snapshot test calls with a custom function or macro which either strips out comment lines or has some template replacement logic for the version number.

[2022-11-22 15:13] aljazerzen commented on #1138
With "normal functions" I mean that we resolve their arguments the same way as we resolve arguments to any other function. Which allows you to define things like:

[code]

More about that is [written here](https://github.com/prql/prql/blob/semantic/book/src/internals/functions.md).

----

Like so?

[code]
This still has the problem in `_table_0` CTE: we have included all colums of `first_table`, w

[2022-11-22 15:30] snth commented on #1138
Regarding the CTE example, what I envisioned was
[code]
turning into
[code]

and
[code]
turning into
[code]

---
I tend to write the joins out manually and haven't used `USING` much so I'd have to refresh my memory on how most RDBMs treat `SELECT * FROM t1 LEFT JOIN t2 USING (index)`. My guess would be that they only include `t1.index` and leave out `t2.index`.

[2022-11-22 15:38] aljazerzen commented on #1138
Ah, yeah that does make sense and would work!

It's not the easiest to implement, though. In any case, it's not needed if we stop compiling to USING.

-----

I too haven't used `USING` before @max-sixty mentioned he uses it a lot. It's convenient, but only if you have columns with the same names in both tables, so I'm guessing there is a lot of people that are not familiar with its behavior, who w

[2022-11-23 08:35] snth commented on #504
Just pinging this issue since it was mentioned in https://github.com/prql/prql/discussions/1145#discussioncomment-4186499.

I see this as quite a priority as `CASE` statements are needed for many things in SQL. I think we need this ready at least by the time of our conference talks in March next year. For example translating the first example from the dbt docs is still blocked by this feature. Per

[2022-11-23 10:35] #1045 closed, assigned to nobody

[2022-11-23 18:08] aljazerzen commented on #1155
That's the essence of it.

Compiler treats s-strings as a blackbox expression with unknown type. They are an escape hatch for accessing SQL underneath and when you use them, you take the responsibility for producing correct SQL.

@max-sixty I do have a counter example for adding parenthesis:

[code]
... which compiles to:
[code]

I think that we should treat s-strings as `unsafe` in Rust. Heavily

[2022-11-23 18:16] aljazerzen commented on #1154
:+1: from me. I think it should:
- be at the end, if it is logged by the database, it doesn't take over the log line,
- be enabled by default,
- have an option to be disabled so we can disable it in tests,
- not contain date/time because it makes compilation process non-reproducible (I don't have strong opinion on this one).

[2022-11-23 21:00] mklopets commented on #820
Here's one more example of something where working around this issue is very difficult (if not impossible):

[code]

If #820 wasn't a thing, then there would be no need for the S-string, but if we do need it (due to this very same issue here), then this will compile to:

[code]

as a terrible workaround, one could do:
[code]

which compiles to `table_0.*.field`; because there are no valid uses for

[2022-11-23 22:50] richb-hanover commented on #1154
If it's possible to incorporate @snth's suggestion of stripping/grepping out comments before running tests, it could be in a comment.

* I agree it should be placed after the emitted SQL
* I can't think of anything else to include besides the version and date/time stamp
* We can thus avoid the need for an option, and remove the requirement to test it for proper operation

[2022-11-24 03:59] max-sixty commented on #1155
Great example @aljazerzen

✔️

[2022-11-24 04:01] max-sixty commented on #1155
So I would vote to not proceed with this at the moment; instead we should invest in minimizing the need for s-strings. They'll always be available, but will at times require active attention from the user.

[2022-11-24 13:59] richb-hanover commented on #1155
Let me see if I understand the current state of the discussion, with an eye toward documenting it to avoid others from stumbling as I have.

The proposal is:

* Leave S-strings and F-strings as-is, and put the responsibility for correctness to the user.
* As we learn of new awkward cases, PRQL can add more facilities/functions to the language that it _does_ check.

I agree: this is reasonable. Her

[2022-11-24 14:50] max-sixty commented on #1155
Thanks @richb-hanover

I think the docs text is good! I know you're more active on issues than code so I can add if you prefer...

[2022-11-24 14:50] #1155 closed, assigned to nobody

[2022-11-24 15:08] richb-hanover commented on #1155
Yes, please do add the text next time you're looking at the Book. Thanks.

[2022-11-27 19:36] aljazerzen opened #1167 "Public API of prql-compiler and binding libraries"
This is structure of our current constructs and all supported conversions at the moment:
[code]

The question is what functions should we provide as public API of prql-compiler and bindings for other languages?

We had:
[code]

And I replaced the 3 last functions with:
[code]

Bindings current have `compile` function along with `to_json` and `from_json` (and some of them `to_sql`). I think we shou

[2022-11-27 19:59] aljazerzen commented on #1138
Update: original issue has been circumvented with semantic branch, which now compiles:

[code]
... to ...
[code]

We have discussed new behavior of join and self equality operator on the call and we will be adopting this new behavior in 0.3 release and possibly amend it in patch releases.

[2022-11-27 19:59] #1138 closed, assigned to nobody

[2022-11-27 20:02] aljazerzen commented on #658
With the new changes this errors out:

[code]
We should include a hint here, saying "if your table name includes dots or has schema name, you have to enclose it in backticks:

[code]
[code]
[code]

[2022-11-28 08:13] max-sixty opened #1168 "Implicit vs Explicit column arguments to `join`"
I was planning to release 0.3 as discussed, with the change in `join` such that supplying columns to an equi-join requires an additional character to make explicit columns vs. conditions:

[code]

This is because a bare `id` is treated as a bool condition, like `e.office_address == l.address` is treated. (and in theory, `id` _could_ be a bool column)

I'm still fine to do the release and assess fe

[2022-11-28 08:16] max-sixty commented on #940
This is now fixed! Not sure we have the clearest error message, but it does raise an error:

[code]

[code]

...while this compiles successfully:

[code]

[code]

Thanks a lot for the issue @haydenflinner and appreciate your patience in waiting for the fix

[2022-11-28 08:16] #940 closed, assigned to nobody

[2022-11-28 08:17] max-sixty commented on #820
@mklopets if you want to give `main` a drive with these examples and let us know whether everything works / things are still broken, that would be great!

[2022-11-28 08:57] max-sixty opened #1170 "ci: Check no unreferenced snapshots"
In `test-all` locally, we run https://github.com/prql/prql/blob/1342c940fa31cead9b051c094e491045f37ed6e0/Taskfile.yml#L168

This deletes all unreferenced snapshots.

We could do this in CI too, and raise an error on any diff. It involves installing `cargo-insta` and then raising on any `git diff`.

[2022-11-28 09:16] aljazerzen opened #1171 "Better error message for missing args"
[code]
... produces:
[code]

We should add a hint here, saying "Have you forgot an argument to function `std.lag`?"

This error is thrown here: https://github.com/prql/prql/blob/9831c244d4bf3331744de9536d5639bbaab361bc/prql-compiler/src/semantic/type_resolver.rs#L73-L78

TODO:
- check if `found_ty` is a `Ty::Function` & check that `expected_ty` is not,
- add hint via calling `Error::with_help(...)

[2022-11-28 09:16] aljazerzen commented on #940
This needs a better error message. I've opened an issue about it #1171

[2022-11-28 09:51] max-sixty commented on #1171
Good onboarding issue! I can take a swing at this soon if no one gets to it (I wouldn't start before midweek though)

[2022-11-28 10:00] mklopets commented on #1168
For the actual syntax, if we do need it to be explicit: one option to consider is `join [=common_col]` which has a slightly more semantic meaning, but could also just look weird – not sure!

[2022-11-28 10:01] aljazerzen commented on #1168
This is a great write-up on the issue.

On scale from -2 to +2, my stance on implicit behavior is +1. I'm not concerned with the ambiguity, because using a bool column in join's filter does not make sense. I also agree that having an operator just for joins adds unneeded complexity to the syntax of the language.

The problem with implicit behavior is the implementation -- I cannot figure out how t

[2022-11-28 10:03] aljazerzen commented on #1168
I like this very much! It may clash with assigns, and `join [==common_col]` may be a little better on that front.

[2022-11-28 10:08] aljazerzen commented on #1086
This has indeed been solved:
[code]
[code]

[2022-11-28 10:08] #1086 closed, assigned to nobody

[2022-11-28 10:39] aljazerzen commented on #941
This does throw an error now. Took a bit longer than 3 weeks :D

[2022-11-28 10:39] #941 closed, assigned to nobody

[2022-11-28 10:51] aljazerzen commented on #786
This now works:
[code]

[code]

Will be released with 0.3

[2022-11-28 10:51] #786 closed, assigned to nobody

[2022-11-28 10:54] aljazerzen commented on #572
First TODO is now fixed, but let's keep the issue open for tracking "variable name propagation".

[2022-11-28 11:01] aljazerzen commented on #1138
Self equality is now discussed in #1168

[2022-11-28 11:02] aljazerzen commented on #696
I believe this is now fixed.

Related issues: #1138, #1168

[2022-11-28 11:02] #696 closed, assigned to nobody

[2022-11-28 12:41] richb-hanover commented on #1168
I don't understand the issue here well enough to make an informed comment. Instead I'm going to advise you to consider avoiding the `roff` problem. (Likely an apocryphal story, but the essence remains true...)

`roff` was a text formatting program in the early days of Unix. [Only after the patent department at Bell Labs](https://en.wikipedia.org/wiki/Roff_(software)) embraced it did it catch on.

[2022-11-28 13:05] aljazerzen commented on #1168
As @snth suggested, there is an option of having arguments that don't get resolved at all (either via s-strings or `noresolve.` argument).

This is actually a viable option:
[code]
[code]

The downside is that we give up name resolution and table inference, which may cause errors in some cases, where CTEs are created.

[2022-11-28 13:14] max-sixty commented on #1168
This also violates the current rules on function parameters, because positional params are required: https://prql-lang.org/book/queries/functions.html

[2022-11-28 13:23] max-sixty commented on #1168
I think this is a key point. For the implicit mode to work, we need to be able to inspect the contents of the expression, and given we don't materialize the expression, that's not possible.

It's a corollary of the "semantic simplicity" point above — the model of encapsulated expressions is in the compiler as well as the language.

So that does weigh me towards going Explicit.

I like the `join fo

[2022-11-28 13:49] snth commented on #1168
This is a fast moving discussion! (Sorry, I've been putting my comments on Discord and forgot about this issue.)

What I was suggesting is generalising the `~` operator from a "self-equality" operator to a "noresolve" operator (since the cat's out the bag on that one) because it seems the latter might also be useful in other contexts.

I was asking @aljazerzen if the `join` transform could then de

[2022-11-28 13:55] snth commented on #1168
With the `noresolve` `~` operator, the following example
[code]
could then be rewritten as
[code]

[2022-11-28 13:58] snth commented on #1168
This use of `~` is also somewhat reminiscent of the `~` formula syntax in R:

https://www.datacamp.com/tutorial/r-formula-tutorial

[2022-11-28 14:03] snth commented on #1168
Another thing that came up on the dev call yesterday, which I think we should bring into this discussion, is how strict the name resolution should be.

The two viewpoints as I understood them were:
1. Ambiguous name references, like ambiguous column references, should throw an error straight away at compile time, forcing the user to specify which parent table the column references.
2. Ambiguity is

[2022-11-28 14:19] snth commented on #1168
I am in favour of option 1, strict name resolution, especially in light of the possibility of a `noresolve ~` operator which would provide (yet another) escape hatch so that users could choose to forgo the strict name resolution should they wish or require this. At least then it is a user decision to defer this check to runtime and they may be comfortable with this given their knowledge of the dat

[2022-11-28 14:44] aljazerzen commented on #1168
I think this should be a separate issue.

Unfortunately, no. For the same reasons that we cannot change behavior of join upon detecting if column has boolean or some other type.

If I understand correctly, this noresolve `~` operator would essentially act as s-string?

----

I'm familiar with ~ in R, but I never understood how does it work. My current understanding is that functions in R take argu

[2022-11-28 15:05] max-sixty commented on #1168
Agree re separate issue for strictness.

And great re DoOcracy (I hadn't heard of that but very much subscribe!)

And, not to agree with everything in that comment :) , but also re `~` — isn't this just an s-string? (Possibly that's worthy of a separate issue  if we're discussing it more broadly than the join syntax). I do think there are legit discussions around how we resolve things, including s

[2022-11-28 15:38] snth commented on #1168
Ok, I thought that one difference might be that the column type would depend on the database and would only be knowable at runtime whereas a distinction between ident and "unresolved ident" if specified in the PRQL code could be known at compile time and could therefore be used to branch the behaviour.

I was just operating on the reply to my comment on Discord that

but I see from your descriptio

[2022-11-28 16:05] aljazerzen commented on #1168
Yes, exactly.

For example `join side:left` has to be `noresolve.` so left is not interpreted as an ident referring to a column or something else.

But again, this is implementation detail and I don't want it to become a part of the language, because we may once declare `left` to be somekind of an enum in `std` and `noresolve.` will not be needed anymore.

[2022-11-29 09:21] mklopets opened #1183 "Uppercase table name breaking compiler"
With the recent semantic/0.3.0 changes, this query compiles just fine (using a locally running playground):
[code]

but this, where othertable is PascalCased, doesn't:
[code]

There's no compilation error returned, but the browser console shows Rust erroring out with `Uncaught Error: unreachable`. If you just copy/paste the broken query into the playground (as opposed to typing it out), the output

[2022-11-29 09:31] aljazerzen commented on #1183
Yup, this is a problem and it's not casing.

When resolving I put CTEs into a module that has a hashmap, which does keep the order. When I extracted them back out, I sort them by name so the compilation is stable.

Workaround for you is adding a number before the tables names, but this is priority for me now. A simple toposort should sort it out.

[2022-11-29 09:34] aljazerzen commented on #1183
https://github.com/prql/prql/blob/076fe3000e81155c629f4f9e87491bea3753ba17/prql-compiler/src/semantic/lowering.rs#L506-L508

edit: wrong TODO comment

[2022-11-29 11:55] #1183 closed, assigned to nobody

[2022-11-29 13:30] mklopets opened #1185 "Same column gets selected multiple times"
Using the latest / semantic version:
[code]
compiles to
[code]

Notice `name` appearing twice in `table_0`'s `SELECT`. This happens whenever you explicitly select a field that you're also filtering on.

This causes the database (in my case postgres) to error on line 9 of the SQL:
[code]

If the last line was changed like shown below, the output would be perfectly fine. But, I'd argue the first que

[2022-11-29 15:51] aljazerzen commented on #1185
I can look into this tomorrow, but here are the logs if you want to get started:

[code]

RQ is:
[code]
[code]

[2022-11-29 15:59] aljazerzen commented on #1185
It is definitively a problem with anchoring - the columns that are only used in WHERE shouldn't be added to SELECT projection.

This will have to be fixed somewhere here: https://github.com/prql/prql/blob/d77099d4bb9f3abd5d62a2fa66f1833fd7d261ef/prql-compiler/src/sql/anchor.rs#L16-L149

But probably much easier solution to this specific problem would be preventing having another column-4 for just

[2022-11-29 18:49] mklopets commented on #820
@max-sixty I'm already on it since Sunday – looking good so far; the behaviour from my last comment here still remains, but it'll no longer affect us once we remove most S-strings anyway

anywho – I'll definitely ping and/or close the issue when confirmed that all is good!

[2022-11-29 20:31] #1185 closed, assigned to nobody

[2022-11-29 20:46] mklopets opened #1187 "Renaming via select breaks preceding sorting"
When a field that's used for sorting gets renamed using select, things break:
[code]
[code]

This will error in the database – the `ORDER BY` should now be using `'something'` instead (or however that derived field is defined – it's probably also referencing other columns):
[code]

[2022-11-29 22:04] richb-hanover commented on #1117
Closing this, to move it to a Discussion...

[2022-11-29 22:04] #1117 closed, assigned to nobody

[2022-11-29 22:28] mklopets commented on #1187
FYI: I managed to change our queries such that this isn't blocking us for now, though I suspect it'll sneakily pop up at some point in the future

[2022-11-30 08:23] aljazerzen opened #1193 "Ambigious wildcard references"
I'm opening this issue as a followup on a recent call and @snth's [comment here](https://github.com/prql/prql/issues/1168#issuecomment-1329162324).

First I suggest to read current [name resolution](https://prql-lang.org/book/internals/name-resolving.html) algorithm.

This issue is about this paragraph:

In practice this means that such queries:

[code]
... are translated to:
[code]

-----

Note t

[2022-11-30 08:31] aljazerzen commented on #1193
Originally, I was for option 2, because it's convenient similar to how SQL operates.

But I vote for option 1.

This basically compiler saying "you have to provide more information" so it can create SQL queries that are not ambiguous. Recently I find that many of problem I need to fix in my professional life are caused because we allow certain expressions, commands or protocols to be ambiguous. In

[2022-11-30 10:21] snth commented on #286
@max-sixty I concur your with your concern about the increase in cardinality with `from_csv`, `from_json`, `from_yaml`, ... . I'm also concerned about whether it won't potentially be confusing in databases like DuckDB where things like
[code]
are possible and a user might expect to have to use `from_csv` in the PRQL case for that?

Given that this is about reading *inline* data from a *string*, ho

[2022-11-30 11:37] mklopets commented on #820
This was truly fixed with `v0.3.0`!

[2022-11-30 11:37] #820 closed, assigned to nobody

[2022-11-30 11:54] aljazerzen commented on #286
That's a great point. I'm +2 on the `from_string` instead of `from` or `from_csv`.

I think that `from_string format:csv "..."` is the best signature.

And :+1: on `from_file`, but this if for #someday_maybe

[2022-11-30 11:57] mklopets opened #1198 "Missing select with join"
[code]
Compiles to
[code]
[code]

If the original PRQL is modified:
[code]
then the output SQL is fine.

We could either:
1. require the PRQL `select` at the end to explicitly specify the table
2. automatically select `account.name` as we already know there's a `name` there for a fact – this is clearly somewhat less safe, but also less verbose
3. do a combo of these – compile like option 2, but ou

[2022-11-30 11:59] mklopets opened #1199 "Resolving table name inside S-string"
[code]
The resulting query will fail on the DB level:
[code]

Curly brackets inside of S-strings nicely resolve fields (`s"{x.field}"`) but resolving only the table part doesn't (`s"{x}.field"`).

[2022-11-30 19:42] max-sixty commented on #286
I broadly agree. I do find "string" a bit engineer-y — but maybe "inline" isn't that much better. I'm +1 on `from_string` unless we can think of a friendlier alternative

[2022-11-30 20:04] mklopets commented on #1199
Open (language design) Q: is resolving just a table name something we want to support inside S-strings?

If no, we should probably error. If yes, this here is a bug.

[2022-11-30 20:04] max-sixty commented on #1006
From discussion on Discord https://discord.com/channels/936728116712316989/957732687995621426/1047601796367011860 — let's close things like this that we're not really planning to do. It doesn't mean we won't ever do them; we can reopen if needed

[2022-11-30 20:04] #1006 closed, assigned to nobody